body{
    background-color: rgb(25,25,25);
    color: white;
    font-family: Arial;
    text-align: center;
}

.title{
    font-size:xx-large;
    font-weight: bold;
}

.move-icon{
    height: 100px;
}

.move-button{
    background-color: transparent;
    border: 3px solid rgb(85, 249, 192);
    border-radius: 100px;
    width: 150px;
    height: 150px;
    margin: 20px;
    cursor:pointer;
}

.reset-button{
    border: none;
    margin: 5px;
    padding: 10px;
    border-radius: 50px;
    color: black;
    background-color: rgb(219, 214, 214);
}